<div class="container" ng-controller="signinCT">
    <form class="form-signin" role="form" ng-submit='signin()'>
        <div  style="padding-bottom:0px;">
            <h2>Sigin</h2>
        </div>
        <input class="form-control" type="text" ng-model="data.username" placeholder="UserName">
        <input class="form-control" type="password" ng-model="data.password" placeholder="Password">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Signin</button>
        <label class="checkbox">
            <a href="#/signup"> If you do not have account Press here </a>
        </label>
    </form>
</div>