    <div class="container">
        <div class="jumbotron" style="padding-bottom:0px;">
            <h2>SIGNUP </h2>
        </div>
        <form class="form-signin" role="form"  ng-submit="signup()" ng-controller="signupCT">
            <input ng-model="data.username" class="form-control" placeholder="User Name" required="" autofocus="">
            <input ng-model="data.password" type="tel" class="form-control" placeholder="Phone Number" required="">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
            <label class="checkbox">
                <a href='/#/login'>LogIn</>
        </label>
      </form>
 
    </div>
 
